@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
}

section {
    margin-top: 20px;
}

#left-main {
    position: fixed;
    width: 220px;
    height: 100%;
    background: #ffffff;
    -webkit-box-shadow:  2px 0 4px rgba(33,33,33 ,0.2);
    -moz-box-shadow:  2px 0 4px rgba(33,33,33 ,0.2);
    box-shadow:  2px 0 4px rgba(33,33,33 ,0.2);
    z-index: 99999;
    overflow-y: auto;
}

#google-map {
    height: 100%;
}

.main-title {
    padding: 0 15px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #3F3E3E;
}

.main-description {
    padding: 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #3F3E3E;
}

.stop-item {
    margin-top: 7px;
    padding: 0 15px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #5F5F5F;
}

.stop-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

#show-all-stops {
    padding: 7px 15px 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #2196F3;
}

#show-all-stops:hover {
    cursor: pointer;
    text-decoration: underline;
}

#delete-last-stop {
    display: none;
    padding: 12px;
    background: transparent;
    color: rgba(244,67,54 ,1);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 15px;
    border-radius: 3px;
    text-align: center;
}

#delete-last-stop:hover {
    cursor: pointer;
    background: #eeeeee;
}

.modal {
    display: block;
    position: fixed;
    z-index: 9999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.5);
    -webkit-animation-duration: 0.3s !important;
    -moz-animation-duration: 0.3s !important;
    -o-animation-duration: 0.3s !important;
    animation-duration: 0.3s !important;
}

.modal-content {
    width: 620px;
    margin: 15% auto;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    background: #ffffff;
    border-radius: 3px;
    -webkit-animation-duration: 0.3s !important;
    -moz-animation-duration: 0.3s !important;
    -o-animation-duration: 0.3s !important;
    animation-duration: 0.3s !important;
}

.modal-title {
    margin-bottom: 10px;
    font-size: 17px;
    color: #222222;
    font-weight: 700;
}

.modal-description {
    font-size: 13px;
    color: #222222;
    line-height: 18px;
}

.modal-divider {
    width: auto;
    height: 1px;
    background-color: #e3e3e3;
    margin: 10px 0;
}

.modal-cat {
    margin-bottom: 5px;
    font-size: 14px;
    color: #222222;
    font-weight: 700;
}

.modal-description-sum {
    margin-top: 5px;
    font-size: 15px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    color: #222222;
    line-height: 18px;
}

/**
SLIDER
 */
.slider, .text-fill {
    margin: 15px 0;
    padding: 0 15px;
}

.slider-info > p, .text-fill-title {
    display: inline-block;
    vertical-align: top;
    max-width: 180px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #3F3E3E;
}

.slider-info > span {
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #4CAF50;
    float: right;
}

.slider-line {
    margin-top: 5px;
    background: rgba(232,245,233 ,1);
    border-radius: 8px;
    height: 3px;
    overflow: hidden;
}

.slider-draggable {
    position: absolute;
    width: 11px;
    height: 11px;
    margin-top: -4px;
    border-radius: 6px;
    background: #4CAF50;
}

.slider-draggable:hover {
    cursor: default;
    background: rgba(67,160,71 ,1);
}

.slide-minmax-border {
    width: 2px;
    height: 7px;
    margin-top: -2px;
    background: #4CAF50;
    position: absolute;
}

/* Text Fill */
.text-fill-input {
    border: 1px solid #C2C2C2;
    padding: 5px;
    border-radius: 3px;
    width: 70px;
}

#compose-track, #review-button {
    padding: 12px;
    background: #4CAF50;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 15px 20px;
    border-radius: 3px;
    text-align: center;
}

#compose-track:hover {
    cursor: pointer;
    background: rgba(67,160,71 ,1);
}

#review-button {
    position: absolute;
    bottom: 0;
    width: 166px;
    background: #cbf2d1;
    color: #4caf50;
}

#review-button:hover {
    cursor: pointer;
    background: rgba(177, 237, 186, 1);
}




/**
LOADER ANIMATION
 */

#loader-box {
    display: none;
    position: fixed;
    z-index: 99999999;
    background: #FEFEFE;
    box-shadow: 0 6px 14px 0 rgba(158,158,158,0.50);
    border-radius: 4px;
    width: 24px;
    height: 24px;
    top: 50%;
    margin-top: -17px;
    left: 50%;
    margin-left: -17px;
    padding: 10px;
}

.loader {
    z-index: 9999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 10px;
    box-shadow: 0 6px 14px 0 rgba(158,158,158,0.50);
}

.circular {
    animation: rotate 2s linear infinite;
    height: 26px;
    transform-origin: center center;
    width: 26px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: #F44336;
    }
    40% {
        stroke: #2196F3;
    }
    66% {
        stroke: #4CAF50;
    }
    80%,
    90% {
        stroke: #FFEB3B;
    }
}

/** Error text **/
#error-box {
    display: none;
    position: fixed;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    background: #F44336;
    z-index: 99999999;
}

/* Map Info */
.paper {
    box-shadow: 0 1px 3px rgba(33,33,33 ,0.3);
    background-color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    white-space: nowrap;
}

.top-right {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999999;
}

.map-info-tab {
    display: inline-block;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    border-right: 1px solid #e3e3e3;
}
.map-info-tab > span {
    text-indent: 0;
    line-height: 100%;
    color: #3F3E3E;
    font-size: 13px;
    text-align: center;
}

.material-icons.map-info-icn {
    color: #888888;
    font-size: 18px;
    line-height: 13px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 6px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
